@using ThenC.Controllers;
@model List<TablesModel>

@{
    ViewData["Title"] = "Tables";

}

<style>
    .btn-close-status {
        position: absolute;
        right: 1%;
        top: 30%;
    }

    }
</style>

<br />
<br />








<h3>@ViewData["Title"]</h3>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br />
<br />
<div class="container col-sm-6 d-flex ">

    <div class="card  " style="width: 18rem;margin-right: 20px">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Criar um Registro</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Iniciar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;margin-right: 20px">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Editar um registro</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Iniciar</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;margin-right: 20px">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Criar uma nova tabela</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Iniciar</a>
        </div>
    </div>

</div>




<div class="container">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>

        @if (TempData["Status"] != null)
        {

            @if ((int)TempData["Status"] == 0)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["msg"]
                    <div class="btn-close btn-close-status">x</div>
                </div>
            }
            @if ((int)TempData["Status"] == 1)
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["msg"]
                    <div class="btn-close btn-close-status">x</div>
                </div>

            }
        }


        <input type="text" class="" placeholder="Pesquisar" />


        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Colunas</th>
                    <th scope="col"> </th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>

                @{

                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            var JsonColunas = item.Colunms;

                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>

                                <td>@JsonColunas</td>
                                
                                <td scope="col">
                                    <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Tables" asp-action="GetForUpdate">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Tables" asp-action="ConfirmDelete">Apagar</a>
                                </td>
                            </tr>




                        }

                    }
                }

            </tbody>
        </table>

        <a class="btn btn-primary" role="button" asp-action="Create">Adicionar Novo</a>
        @{
            IgnoreBody();
        }
    </main>
</div>



